<div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <%-
            FORM.select("query", scope, {
                allowview: false,
                column: "name",
                table: "query",
                text: "item.name",
                icon: {class: "archive"}
            })
            %>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12">

</div>

<%- FORM.footer(scope) %>

